<h2>Create New Landmark</h2>

<!-- add content here -->

<form action="/landmarks" method="POST">
  <!-- Landmark Name -->
  <label>Name</label>
  <input type="text" name="landmark[name]"> </br>
  
  <!-- Submit Landmark Form -->
  <input type="submit" value="Create a new Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>


